.admin-form-inside {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.admin-form-inside label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1a1a1a;
}
.admin-form-inside input {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: #ffffff;
  border: 3px solid #1a1a1a;
  outline: none;
  border-radius: 6px !important;
}
.btn-admin-submit {
  width: 100%;
  padding: 12px;
  font-size: 0.95rem;
  text-transform: uppercase;
  background-color: #ffff00;
  color: #1a1a1a;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #1a1a1a;
  cursor: pointer;
  font-weight: 800;
  margin-top: 10px;
}
