.admin-form-inside {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.admin-form-inside label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1a1a1a;
}

.admin-form-inside input, 
.admin-form-inside select {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #ffffff;
    border: 3px solid #1a1a1a;
    outline: none;
    border-radius: 6px !important;
}

.admin-form-inside input:focus, 
.admin-form-inside select:focus {
    background-color: #f0f7ff;
}

.btn-admin-submit {
    width: 100%;
    padding: 12px;
    font-size: 0.95rem;
    text-transform: uppercase;
    background-color: #00ff66;
    color: #1a1a1a;
    border: 3px solid #1a1a1a;
    box-shadow: 3px 3px 0px #1a1a1a;
    cursor: pointer;
    font-weight: 800;
    margin-top: 10px;
}

.btn-admin-submit:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px #1a1a1a;
}

.aside-table-wrapper {
    max-height: 350px;
    overflow-y: auto;
    border: 3px solid #1a1a1a;
    margin-top: 10px;
    border-radius: 6px !important;
}

.aside-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
    background: #fff;
}

.aside-table th {
    background-color: #ffff00;
    padding: 4px 6px;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0px !important;
}

.aside-table td {
    padding: 8px;
    border-bottom: 2px solid #1a1a1a;
    vertical-align: middle;
    color: #1a1a1a;
}

.btn-mini-delete {
    display: inline-block;
    background-color: #ff4d4d;
    color: #ffffff;
    border: 2px solid #1a1a1a;
    box-shadow: 2px 2px 0px #1a1a1a;
    padding: 3px 12px;
    font-size: 0.75rem;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px !important;
    cursor: pointer;
    transition: transform 0.1s;
}

.btn-mini-delete:active {
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 0px #1a1a1a;
}